{% load i18n static %}
{% load static %}
{# cf. http://urx2.nu/FwJr #}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"ja-JP" }}">
<head>
  {% block head %}
    {# IE8+に対して「IE=edge」と指定することで、利用できる最も互換性の高い最新のエンジンを使用するよう指示できます #}
    {#     参考: https://www.modern.ie/en-us/performance/how-to-use-x-ua-compatible #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content=""> {# content属性にページの紹介文を記述 #}
    <meta name="author" content="K. Kubokawa"> {# content属性にページの著者情報を記述 #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'opac/css/materialize.min.css' %}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'opac/css/nouislider.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'opac/css/opac.css' %}"/>
    <link rel="shortcut icon" href=""/> {# href属性にファビコンファイルのURIを記述 #}
    <title>{% block head_title %}OPAC構築演習 | 知識情報演習I(後半) {% endblock head_title %}</title>
    {# スクリプトでブロッキングを起こさないものはここに記述 #}
    {# 可能であれば「async（文書の読み込みが完了した時点でスクリプトを実行）」を使用 #}
    {# Example: <script src="" async></script> #}
  {% endblock head %}
</head>
<body>

{% block navbar %}

  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="#!" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i
                  class="material-icons">menu</i></a>
          <a href="#!" class="brand-logo">Release: 1.0.0-alpha.3</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
            <li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
            <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <ul id="mobile-demo" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="http://placehold.it/640/555">
        </div>
        <a href="#!"><img class="circle" src="http://placehold.it/640/333"></a>
        <a href="#!"><span class="white-text name">John Doe</span></a>
        <a href="#!"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
    <li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
    <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect">Dropdown<i class="material-icons">folder</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a class="waves-effect" href="#!">First</a></li>
              <li><a class="waves-effect" href="#!">Second</a></li>
              <li><a class="waves-effect" href="#!">Third</a></li>
              <li><a class="waves-effect" href="#!">Fourth</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect">Dropdown<i class="material-icons">folder</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a class="waves-effect" href="#!">First</a></li>
              <li><a class="waves-effect" href="#!">Second</a></li>
              <li><a class="waves-effect" href="#!">Third</a></li>
              <li><a class="waves-effect" href="#!">Fourth</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>

  {% block sidenav %}
    <ul id="mobile-demo" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="http://placehold.it/640/555">
          </div>
          <a href="#!"><img class="circle" src="http://placehold.it/640/333"></a>
          <a href="#!"><span class="white-text name">John Doe</span></a>
          <a href="#!"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
      <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Subheader</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect">Dropdown<i class="material-icons">folder</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a class="waves-effect" href="#!">First</a></li>
                <li><a class="waves-effect" href="#!">Second</a></li>
                <li><a class="waves-effect" href="#!">Third</a></li>
                <li><a class="waves-effect" href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect">Dropdown<i class="material-icons">folder</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a class="waves-effect" href="#!">First</a></li>
                <li><a class="waves-effect" href="#!">Second</a></li>
                <li><a class="waves-effect" href="#!">Third</a></li>
                <li><a class="waves-effect" href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  {% endblock sidenav %}

{% endblock navbar %}

<main>
  {% block content %}
  {% endblock content %}
</main>

{% block footer %}
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2019 K. Kubokawa @Ningensei848
        <a class="grey-text text-lighten-4 right" href="https://about.me/kubokawa_k">More Links</a>
      </div>
    </div>
  </footer>
{% endblock footer %}

{% block chatbutton %}
  <!-- Gitter Chat Link -->
  <div class="fixed-action-btn"><a class="btn-floating btn-large red pulse"
                                   href="https://gitter.im/Dogfalo/materialize" target="_blank"><i
          class="large material-icons">chat</i></a></div>
{% endblock chatbutton %}

{% block script %}
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'opac/js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'opac/js/nouislider.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'opac/js/opac.js' %}"></script>
{% endblock script %}
</body>
</html>