{% load i18n static %}
{% load static %}
{# cf. http://urx2.nu/FwJr #}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"ja-JP" }}">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110561341-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-110561341-2');
  </script>
  {% block head %}{% endblock head %}
    {# IE8+に対して「IE=edge」と指定することで、利用できる最も互換性の高い最新のエンジンを使用するよう指示できます #}
    {#     参考: https://www.modern.ie/en-us/performance/how-to-use-x-ua-compatible #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content=""> {# content属性にページの紹介文を記述 #}
    <meta name="author" content="K. Kubokawa"> {# content属性にページの著者情報を記述 #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    <!-- Install Fonts and Icons -->
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!--  <link type="text/css" rel="stylesheet" href="{% static 'opac/css/materialize.min.css' %}" media="screen,projection"/> -->
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'opac/css/nouislider.min.css' %}"/> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'opac/css/opac.css' %}"/> -->
    {% block link %}{% endblock link %}
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }

      table {
        width: 100%;
        table-layout: fixed;
      }

      table td {
        overflow-wrap: break-word;
      }

      /*Black color to the text*/
      .tabs .tab a {
        color: #2e7d32;
      }

      /*Text color on hover*/
      .tabs .tab a:hover {
        background-color: #64dd17;
        color: #ffffff;
      }

      /*Background and text color when a tab is active*/

      .tabs .tab a.active {
        background-color: #c8e6c9;
        color: #2e7d32;
      }

      /*Color of underline*/
      .tabs .indicator {
        background-color: #2e7d32;
      }
    </style>
    {% block style %}{% endblock style %}
    <link rel="shortcut icon" href=""/> {# href属性にファビコンファイルのURIを記述 #}
    <title>{% block head_title %}BASE TITLE{% endblock head_title %} | OPAC構築演習＠知識情報演習I(後半)</title>
</head>

<body>
{% block navbar %}
  <nav class="green lighten-1">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="#!" data-target="mobile" class="sidenav-trigger show-on-large">
            <i class="material-icons">menu</i>
          </a>
          <a href="{% url 'opac:index' %}" class="brand-logo">OPAC for jbisc</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="https://github.com/Ningensei848/CJE_OPAC" target="_blank">Github</a></li>
            <li><a href="http://klis.tsukuba.ac.jp/klib/index.php?KIRL-I" target="_blank">K-LIB</a></li>
            <!-- <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {% block sidenav %}
    <ul id="mobile" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="http://placehold.it/640/555">
            <!-- <img src="https://aboutme.imgix.net/background/users/k/u/b/kubokawa_k_1522045342_656.jpg"> -->
          </div>
          <a href="#!"><img class="circle" src="https://drive.google.com/uc?id=0B2CYtBgPKGXLa3JRdnB0M1ZmQm8"></a>
          <a href="#!"><span class="white-text name">K.Kubokawa</span></a>
          <a href="#!"><span class="white-text email">k.kubokawa@klis.tsukuba.ac.jp</span></a>
        </div>
      </li>
      <li><a href="https://github.com/Ningensei848" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/Ningensei848" target="_blank">Twitter</a></li>
      <li><a href="https://scrapbox.io/Ningensei848/" target="_blank">Scrapbox</a></li>
      <li>
        <div class="divider"></div>
      </li>
    </ul>
  {% endblock sidenav %}
{% endblock navbar %}

<main>
  {% block content %}
  {% endblock content %}
</main>

{% block footer %}
  <footer class="page-footer green lighten-1">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2019 K. Kubokawa @Ningensei848
        <a class="grey-text text-lighten-4 right" href="https://about.me/kubokawa_k">More Links</a>
      </div>
    </div>
  </footer>
{% endblock footer %}

{% block chatbutton %}
  <!-- Gitter Chat Link -->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large cyan" href="https://github.com/Ningensei848/CJE_OPAC/issues" target="_blank">
      <i class="large material-icons">chat</i>
    </a>
  </div>
{% endblock chatbutton %}

<!--JavaScript at end of body for optimized loading-->
<!-- <script type="text/javascript" src="{% static 'opac/js/materialize.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'opac/js/nouislider.min.js' %}"></script> -->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- <script type="text/javascript" src="{% static 'opac/js/opac.js' %}"></script> -->
<script type="text/javascript">
    var sidenavs = document.querySelectorAll('.sidenav')
    for (var i = 0; i < sidenavs.length; i++) {
        M.Sidenav.init(sidenavs[i]);
    }
    var dropdowns = document.querySelectorAll('.dropdown-trigger')
    for (var i = 0; i < dropdowns.length; i++) {
        M.Dropdown.init(dropdowns[i]);
    }
    var collapsibles = document.querySelectorAll('.collapsible')
    for (var i = 0; i < collapsibles.length; i++) {
        M.Collapsible.init(collapsibles[i]);
    }
    var featureDiscoveries = document.querySelectorAll('.tap-target')
    for (var i = 0; i < featureDiscoveries.length; i++) {
        M.FeatureDiscovery.init(featureDiscoveries[i]);
    }
    var materialboxes = document.querySelectorAll('.materialboxed')
    for (var i = 0; i < materialboxes.length; i++) {
        M.Materialbox.init(materialboxes[i]);
    }
    var modals = document.querySelectorAll('.modal')
    for (var i = 0; i < modals.length; i++) {
        M.Modal.init(modals[i]);
    }
    var parallax = document.querySelectorAll('.parallax')
    for (var i = 0; i < parallax.length; i++) {
        M.Parallax.init(parallax[i]);
    }
    var scrollspies = document.querySelectorAll('.scrollspy')
    for (var i = 0; i < scrollspies.length; i++) {
        M.ScrollSpy.init(scrollspies[i]);
    }
    var tabs = document.querySelectorAll('.tabs')
    for (var i = 0; i < tabs.length; i++) {
        M.Tabs.init(tabs[i]);
    }
    var tooltips = document.querySelectorAll('.tooltipped')
    for (var i = 0; i < tooltips.length; i++) {
        M.Tooltip.init(tooltips[i]);
    }

    var autocompletes = document.querySelectorAll('.autocomplete')
    for (var i = 0; i < autocompletes.length; i++) {
        M.Autocomplete.init(autocompletes[i]);
    }
</script>
{% block script %}
{% endblock script %}
</body>
</html>