{% extends 'opac/base.html' %}

{% block head_title %}OPAC for JBISC{% endblock head_title %}
{% block link %}
  <link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
{% endblock link %}
{% block style %}
  <!-- Additional Style-->
  <style>
    /* cf. https://akros-ac.jp/8277/*/
    .report_specification {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 50%; /* 高さの調整 */
    }

    .report_specification iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span.card-title {
      font-family: 'Neuton', serif;
    }
  </style>
{% endblock style %}
{% block content %}

  <ul class="tabs">
    <li class="tab col s3"><a href="#mainpage" class="active">home</a></li>
    <li class="tab col s3"><a href="#description">description</a></li>
    <li class="tab col s3"><a href="#report">report</a></li>
    <li class="tab col s3"><a href="#specification">specification</a></li>
  </ul>

  <div id="mainpage" class="col s12">
    <div class="container">
      <div class="card">
        <div class="card-image">
          <a href="http://klis.tsukuba.ac.jp/" target="_blank">
            <img src="http://klis.tsukuba.ac.jp/assets/images/slider/img03.jpg">
          </a>
          <span class="card-title">OPAC<br/>for JBISC</span>
        </div>
        <div class="card-content">
          <form class="input-field" method="get" action="{% url 'opac:result' %}">
            <i class="material-icons prefix">search</i>
            <input id="search" type="text" name="search" class="validate" required>
            <label for="search-input">Search</label>
            <span class="helper-text" data-error="なんらかの入力が必要です" data-success="検索中...">
              タイトル, 著者名, その他関連情報などのキーワードを入力してください
            </span>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div id="description" class="col s12">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><h1>OPACに関する解説</h1></span>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#how_to_design">How to design</a></li>
              <li class="tab"><a class="active" href="#feature">feature</a></li>
              <li class="tab"><a href="#how_to_work">How to work</a></li>
            </ul>
          </div>
          <div class="card-content teal lighten-5">
            <div id="how_to_design">
              <span class="card-title">もはや jQuery を必要としない ――。</span>
              <blockquote class="grey lighten-2">
                We’re excited to announce that jQuery is no longer a dependency in 1.0!<br> - <a
                      href="https://medium.com/@materializecss/materialize-to-1-0-and-beyond-e0233b8ac15"
                      target="_blank">The
                Materialize Team</a>
              </blockquote>
              <p>容易に記述できるように設計されたJavaScriptライブラリであるjQueryは、
                様々な理由から時代遅れになりつつある。これを排し、純粋にCSSとJSだけで記述できるようにしたのがこの "Materialize" である。
                特徴的なのは脱jQueryを宣伝していることだけでなく、「マテリアルデザイン」を簡単に取り入れることが出来ること、そして
                レスポンシブデザインに対応していることである。</p>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">brush</i>jQuery とは</div>
                  <div class="collapsible-body">
                    <blockquote class="grey lighten-2">
                      jQueryは高速、小型、そして機能豊富なJavaScriptライブラリです。
                      HTMLドキュメントのトラバーサルと操作、イベント処理、アニメーション、そしてAjaxのようなことが、
                      多数のブラウザにわたって機能する使いやすいAPIによってさらに簡単になります。
                      汎用性と拡張性の組み合わせで、jQueryは何百万もの人々がJavaScriptを書く方法を変えました。(translated by Google)
                    </blockquote>
                    <div class="center-align">
                      <a href="https://jquery.com/" class="waves-effect waves-light btn" target="_blank">Official
                        page</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">color_lens</i>Materialize とは</div>
                  <div class="collapsible-body">
                    <blockquote class="grey lighten-2">
                      Googleが作成および設計したMaterial Designは、成功したデザインの古典的な原則と革新性およびテクノロジーを組み合わせたデザイン言語です。
                      Googleの目標は、あらゆるプラットフォーム上のすべての製品にわたって統一されたユーザーエクスペリエンスを可能にするデザインシステムを開発することです。
                      (translated by Google)
                    </blockquote>
                    <div class="center-align">
                      <a href="https://materializecss.com/" class="waves-effect waves-light btn" target="_blank">Official
                        page</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">tablet</i>レスポンシブデザイン とは</div>
                  <div class="collapsible-body">
                    <span>
                      <blockquote class="grey lighten-2">
                        レスポンシブウェブデザイン (Responsive Web Design, RWD) は、
                      閲覧者の画面サイズまたはウェブブラウザに応じてデスクトップウェブページが閲覧できることを目指したウェブデザインの手法。
                      加えて、1つのウェブサイトで多様なデバイスを同様にサポートすることもレスポンシブウェブデザインのタスクに含まれている点を理解しておくことが重要である。
                      </blockquote>
                    </span>
                    <div class="center-align">
                      <a href="https://bit.ly/2KghvLx" class="waves-effect waves-light btn" target="_blank">view in
                        wikipedia</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div id="feature">
              <span class="card-title">特徴について</span>
              <p>トップ画面からキーワードを入れるだけですぐに検索ができるようにした。
                画面遷移後のページ上部のタブを切り替えることで、「タイトル」「責任表示」「シリーズ」「出版情報」「ANY検索」
                から知りたいカテゴリだけを選択して結果一覧を見ることが出来る。<br/>他にもいくつかの特徴があるが、以下を参照されたい。
              </p>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">link</i>NDLサーチへのリンクを付与</div>
                  <div class="collapsible-body">
                    <span>
                      ISBNが付与されているものは、それをNDLサーチの末尾とつなげたURLをつくることで、NDL上の検索結果に跳べるようにした。
                      リンクが有ることがわかりやすいように、ボタンにはウェーブエフェクトをかけてある。
                    </span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">cloud_done</i>Githubへのソースコード公開</div>
                  <div class="collapsible-body">
                    <span>
                      Githubにソースコードを公開した。
                      このプロジェクトのIssueページに最短でたどり着けるように、OPACの画面右下にフロートボタンを配置してある。
                      なにか不備があれば、ここから報告してほしい。
                    </span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">image</i>書影API(openBD)による画像添付</div>
                  <div class="collapsible-body">
                    <span>
                      ISBN13をキーとして様々な書誌情報が取得できるAPIに「openBD」というものがあるのを聞いた。
                      今回使ったデータはすべてISBNが無いかISBN10 (旧仕様)だったが、現行の新仕様に沿って裏で処理を施しISBN13に変換した。
                      それをキーとしてAPIにPOSTすることでJSONが返ってくるが、いくつかある要素のうち、書影画像だけ抜き出してきて貼り付けた。
                      検索結果一覧から書誌詳細をみることで画像が確認できる。
                    </span>
                    <div class="center-align">
                      <a href="https://openbd.jp/" class="waves-effect waves-light btn" target="_blank">Official
                        page</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div id="how_to_work">
              <span class="card-title">Don't repeat yourself</span>
              <blockquote class="grey lighten-2">
                Django makes it easier to build better Web apps more quickly and with less code. <br/>
                - <a href="https://www.djangoproject.com/" target="_blank">Django Official Page</a>
              </blockquote>
              <p>webページの裏側で動くシステムを構築するために、Pythonで記述されたフレームワークの一つである "Django" を採用した。
                強力なORMを持ち、ほぼSQL文を書くこと無く検索クエリ等を扱うことができた。また、テンプレートエンジンを用いて、
                少ない記述量で様々なページ構造を実現するに至った。</p>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">developer_board</i>Django とは</div>
                  <div class="collapsible-body">
                    <span>
                      Pythonで書かれたWebフレームワークのひとつである。
                      Pythonで書けるのはとてもラクであり、かつ色々なライブラリがつかえて拡張性が高い。
                      その分移り変わりも早いので、習熟には賞味期限がある。
                      機械学習とも相性が良いので、ぜひそちらでも応用したい。
                    </span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">build</i>ORM とは</div>
                  <div class="collapsible-body">
                    <span>
                    <blockquote class="grey lighten-2">
                      オブジェクト関係マッピング（英: Object-relational mapping、O/RM、ORM）とは、
                      データベースとオブジェクト指向プログラミング言語の間の非互換なデータを変換するプログラミング技法である。
                      オブジェクト関連マッピングとも呼ぶ。
                      実際には、オブジェクト指向言語から使える「仮想」オブジェクトデータベースを構築する手法である。
                      （出典：wikipedia）
                    </blockquote>
                      つまり、SQLを直で書かなくてもデータベースが操作できるということであり、これには本当に助けられた。
                      データの数がたかだか20,000無い程度なので気にならない速度で処理できるが、これがもっと多くなったときにどうするかが
                      個人的な課題と言える。
                    </span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">drive_eta</i>テンプレートエンジン とは</div>
                  <div class="collapsible-body">
                    <span>
                      <blockquote class="grey lighten-2">
                        テンプレートエンジンはテンプレートと呼ばれる雛形と、あるデータモデルで表現される入力データを合成し、
                      成果ドキュメントを出力するソフトウェアまたはソフトウェアコンポーネントである。
                      テンプレートおよび成果ドキュメントは複数のこともある。成果ドキュメントには様々なフォーマットのものがあり、
                      文書・ウェブページ・ソースコードなどがその例で、ドキュメント全体ではなく、その一部を出力することもある。
                      （出典：wikipedia）
                      </blockquote>
                      つまり、本来は静的なリソースであるHTML文書などを、動的に生成することが出来るようになるということである。
                      これにより、検索結果に対してすべて事前に文書を用意して無くとも良くなったし、
                      一部分だけ書いてそれを条件分岐させて切り貼りするなんとこともできるようになった。
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="report" class="col s12">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <span class="card-title">知識情報演習 I (後半) レポート課題 (令和元年度)</span>
          <ul class="collapsible popout">
            <li class="active">
              <div class="collapsible-header"><i class="material-icons">place</i>OPAC URL</div>
              <div class="collapsible-body center-align">
                <span>
                  <a href="https://cgi.u.tsukuba.ac.jp/~s1611502/django.cgi/opac/"
                     class="waves-effect waves-light btn" target="_blank">Go OPAC</a>
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">folder</i>Source</div>
              <div class="collapsible-body center-align">
                <span>
                  <a href="https://github.com/Ningensei848/CJE_OPAC"
                     class="waves-effect waves-light btn" target="_blank">Go Github</a>
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">layers</i>Database</div>
              <div class="collapsible-body">
                <img src="http://drive.google.com/uc?export=view&id=18k9_s0BM0zafvGNP4YoVu59mp4tHCHZx"
                     class="materialboxed responsive-img" data-caption="リレーション (テーブル) の構造とその説明">
                <span>
                  19 のカラムに分割してデータベースへ保存した。Not Null 制約が付いているが、
                  blank は許容しているため、書誌に項目が該当しない場合、空白をもたせている。
                  本来であれば、著者や編者のテーブルを別に用意して外部キー制約を設けたり、
                  複数の項目を持つ場合があればそれも別のテーブルとして保持するように正規化したりすべきだが、
                  理解がそこまで追いついていなかったのと、時間的制約から実装を諦めた。
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">flash_on</i>Originality & Ingenuity</div>
              <div class="collapsible-body">
                <h6>OPAC を構築する上で工夫した点</h6>
                <div class="row">
                  <div class="col s12 m4">
                    <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://colab.research.google.com/img/colab_favicon_256px.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Colaboratory<i
                                class="material-icons right">more_vert</i></span>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">
                            Analyze on Colaboratory<i class="material-icons right">close</i>
                          </span>
                        <p>.txtファイルの解析および整形をGoogle Colaboratory上で行なった。
                          ブラウザ上からpython3が使える快適な実行環境である。
                        </p>
                        <div class="center-align">
                          <a class="waves-effect waves-light btn"
                             href="https://colab.research.google.com">more info</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Django<i
                                  class="material-icons right">more_vert</i>
                          </span>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">
                            Choose Django<i class="material-icons right">close</i>
                          </span>
                        <p>Python Web Frameworkである「Django」を採用した。
                          強力なORMによりほぼSQLを書かずに済んだ。
                        </p>
                        <div class="center-align">
                          <a class="waves-effect waves-light btn"
                             href="https://www.djangoproject.com/">more info</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                             src="https://materializecss.com/images/favicon/apple-touch-icon-152x152.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Materialize<i
                                class="material-icons right">more_vert</i></span>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">
                            Get "Materialize"<i class="material-icons right">close</i>
                          </span>
                        <p>CSSフレームワークに「Materialize」を採用した。
                          マテリアルデザインが簡単に制作できる優れものである。
                        </p>
                        <div class="center-align">
                          <a class="waves-effect waves-light btn"
                             href="https://materializecss.com">more info</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Knowledge</div>
              <div class="collapsible-body">
                <span>
                  SQL を書くのが苦手であるということが改めてわかった。
                  というのも、殆ど書いたことがないというのに加えて、
                  高速化のために必要な基礎知識がまるっきり不足しているということが判明した。
                  つまり、論理学であったり関係だったりの情報が抜け落ちている。
                  本当にスケールが必要なプロダクトを作ることになったときに、困らないようにどこかで学び直さねばならない。
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-action center-align">
          <a href="https://www.u.tsukuba.ac.jp/~s1611502/cje001_final_report.pdf" target="_blank"
             class="waves-effect waves-light">view local report file</a>
        </div>
      </div>
    </div>
  </div>

  <div id="specification" class="col s12">
    <div class="container">
      <div class="card">
        <div class="report_specification">
          <iframe src="http://klis.tsukuba.ac.jp/klib/Subjects/KIRL-I/text/report.pdf"
                  width="600" height="400" style="border:0" allowfullscreen>
          </iframe>
        </div>
        <div class="card-action center-align">
          <a href="https://www.u.tsukuba.ac.jp/~s1611502/report_specification.pdf" target="_blank"
             class="waves-effect waves-light">view local file</a>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}