{% extends 'opac/base.html' %}

{% block head_title %}OPAC for JBISC{% endblock head_title %}
{% block link %}
  <link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
{% endblock link %}
{% block style %}
  <!-- Additional Style-->
  <style>
    /* cf. https://akros-ac.jp/8277/*/
    .report_specification {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 50%; /* 高さの調整 */
    }

    .report_specification iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span.card-title {
      font-family: 'Neuton', serif;
    }
  </style>
{% endblock style %}
{% block content %}

  <ul class="tabs">
    <li class="tab col s3"><a href="#mainpage" class="active">home</a></li>
    <li class="tab col s3"><a href="#description">description</a></li>
    <li class="tab col s3"><a href="#report">report</a></li>
    <li class="tab col s3"><a href="#specification">specification</a></li>
  </ul>

  <div id="mainpage" class="col s12">
    <div class="container">
      <div class="card">
        <div class="card-image">
          <a href="http://klis.tsukuba.ac.jp/" target="_blank">
            <img src="http://klis.tsukuba.ac.jp/assets/images/slider/img03.jpg">
          </a>
          <span class="card-title">OPAC<br/>for JBISC</span>
        </div>
        <div class="card-content">
          <form class="input-field" method="get" action="{% url 'opac:result' %}">
            <i class="material-icons prefix">search</i>
            <input id="search" type="text" name="search" class="validate" required>
            <label for="search-input">Search</label>
            <span class="helper-text" data-error="なんらかの入力が必要です" data-success="検索中...">
              タイトル, 著者名, その他関連情報などのキーワードを入力してください
            </span>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div id="description" class="col s12">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h3>Underconstruction ¯¯\_(ヅ)_/¯¯\_(ツ)_/¯¯</h3>
          <blockquote>
            We’re excited to announce that jQuery is no longer a dependency in 1.0!<br> - <a
                  href="https://medium.com/@materializecss/materialize-to-1-0-and-beyond-e0233b8ac15" target="_blank">The
            Materialize Team</a>
          </blockquote>
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">This is
            a link</a>
          <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">This is
            a link</a>
        </div>
      </div>
    </div>
  </div>

  <div id="report" class="col s12">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <span class="card-title">知識情報演習 I (後半) レポート課題 (令和元年度)</span>
          <ul class="collapsible popout">
            <li class="active">
              <div class="collapsible-header"><i class="material-icons">place</i>OPAC URL</div>
              <div class="collapsible-body">
                <span>
                  構築した OPAC の URL(もしくはリンク)
                  <div class="center-align">
                     <a href="https://cgi.u.tsukuba.ac.jp/~s1611502/django.cgi/opac/"
                        class="waves-effect waves-light btn" target="_blank">Go OPAC</a>
                  </div>
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">folder</i>Source</div>
              <div class="collapsible-body">
                <span>
                  CGI プログラムのソースリストおよびその説明<br/>
                  <div class="center-align">
                     <a href="https://github.com/Ningensei848/CJE_OPAC"
                        class="waves-effect waves-light btn" target="_blank">Go Github</a>
                  </div>
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">layers</i>Database</div>
              <div class="collapsible-body">
                <span>
                  リレーション (テーブル) の構造とその説明<br/>
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">flash_on</i>Originality & Ingenuity</div>
              <div class="collapsible-body">
                <h6>OPAC を構築する上で工夫した点</h6>
                <div class="row">
                  <div class="col s12 m4">
                    <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://colab.research.google.com/img/colab_favicon_256px.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Colaboratory<i class="material-icons right">more_vert</i></span>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">
                            Analyze on Colaboratory<i class="material-icons right">close</i>
                          </span>
                        <p>.txtファイルの解析および整形をGoogle Colaboratory上で行なった。
                          ブラウザ上からpython3が使える快適な実行環境である。
                        </p>
                        <div class="center-align">
                          <a class="waves-effect waves-light btn"
                             href="https://colab.research.google.com">more info</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Django<i class="material-icons right">more_vert</i>
                          </span>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">
                            Choose Django<i class="material-icons right">close</i>
                          </span>
                        <p>Python Web Frameworkである「Django」を採用した。
                          強力なORMによりほぼSQLを書かずに済んだ。
                        </p>
                        <div class="center-align">
                          <a class="waves-effect waves-light btn"
                             href="https://www.djangoproject.com/">more info</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                             src="https://materializecss.com/images/favicon/apple-touch-icon-152x152.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Materialize<i class="material-icons right">more_vert</i></span>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">
                            Get "Materialize"<i class="material-icons right">close</i>
                          </span>
                        <p>CSSフレームワークに「Materialize」を採用した。
                          マテリアルデザインが簡単に制作できる優れものである。
                        </p>
                        <div class="center-align">
                          <a class="waves-effect waves-light btn"
                             href="https://materializecss.com">more info</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Knowledge</div>
              <div class="collapsible-body">
                <span>実際に構築してみて得られた知見</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-action center-align">
          <a href="https://www.u.tsukuba.ac.jp/~s1611502/CJE/report.pdf" target="_blank"
             class="waves-effect waves-light">view local report file</a>
        </div>
      </div>
    </div>
  </div>

  <div id="specification" class="col s12">
    <div class="container">
      <div class="card">
        <div class="report_specification">
          <iframe src="http://klis.tsukuba.ac.jp/klib/Subjects/KIRL-I/text/report.pdf"
                  width="600" height="400" style="border:0" allowfullscreen>
          </iframe>
        </div>
        <div class="card-action center-align">
          <a href="https://www.u.tsukuba.ac.jp/~s1611502/report_specification.pdf" target="_blank"
             class="waves-effect waves-light">view local file</a>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}